.park-admin {
  .menu-col {
    background: radial-gradient(circle, #653eea 0%, #120230 70%);
    padding: 1rem;
  }

  .content-col {
    padding: 2rem;
    background: #f5f5f5;
    border-radius: 8px;
  }
  .heading {
    background-color: #ffffff !important;
  }
}
