/* src/components/Signup.scss */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.logo-design {
    display: flex;
    align-items: baseline;
    font-size: 40px;
    letter-spacing: 8px;
    // justify-content: center;
    margin-top: 80px;
    .first-div {
      color: #613EEA;
    }
  
    .second-div {
      padding: 20px 30px;
      color: white;
      background-color: #613EEA;
      border-radius: 262% / 337%;
      border-top-left-radius: 0;
    }
  }
  

  .small-logo-design {
    display: flex;
    align-items: baseline;
    font-size: 20px;
    letter-spacing: 8px;
    margin-top: 20px;
    .small-first-div {
      color: #613EEA;
    }
  
    .small-second-div {
      padding: 20px 30px;
      color: white;
      background-color: #613EEA;
      border-radius: 262% / 337%;
      border-top-left-radius: 0;
    }
  }
  