.table-header {
  font-weight: 900 !important;
}
.edit-button {
  background: radial-gradient(circle, #653eea 0%, #120230 70%) !important;
  color: aliceblue !important;
  &:hover {
    background: #eec6e2 !important;
    color: #16022c !important;
  }
}

.MuiTablePagination-root {
  font-weight: 800 !important;
  border-radius: 8px;
  padding: 5px;
  background: linear-gradient(to right, #f8f8fa, #afa6c0) !important;
}

.MuiTablePagination-selectLabel {
  font-weight: bolder !important;
}
.MuiSelect-select {
  font-weight: bolder !important;
  &:hover {
    background: linear-gradient(to right, #f8f8fa, #afa6c0) !important;
    border-radius: 1px;
  }
}
